@import "src/styles/colors";

.input {
  display: inline-block;
  width: 100%;
  padding: 0.6em 1.2em;
  transition: border-color 0.25s;
  border: 1px solid #ffffff;
  border-radius: 8px;
  background-color: $buttonBackgroundColor;
  color: $textColor;
  font-family: inherit;
  font-size: 1em;
  font-weight: 500;

  &:hover {
    border-color: $buttonBorderColorHover;
  }

  &:focus,
  &:focus-visible,
  &:active {
    border-color: transparent;
    outline: 4px auto -webkit-focus-ring-color;
  }

  &.error {
    border-color: $errorColor;

    &:hover {
      border-color: $errorColor;
    }
  }
}
